* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  font-family: 'Segoe fUI', Tahoma, Geneva, Verdana, sans-serif;
}

header {

  padding: 15px;
}

header h1 {
  width: max-content;
  text-align: center;
  background-color: rgb(207, 19, 19);
}

.container {
  width: 90%;
  margin: auto;
}



main {
  /* height: 100%; */
  width: auto;
}

main .container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
}


footer {
  /* margin: auto;
  height: max-content;
  background-color: green;
  text-align: center; */
}