* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  margin: auto;
  padding: 15px;
}

header>h1 {
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}



main {
  width: 100%;
  height: 100%;
  /* height: auto; */
  background-color: red;

}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


footer {
  margin: auto;
  height: max-content;
  background-color: green;
  text-align: center;
}